<%-include('../partials/userheader')-%>

        <main class="main">
            <div class="intro-section bg-lighter pt-3">
                <div class="container">
                    <div class="banner-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="banner banner-big banner-overlay">
                                    <a href="#" >
                                        <img src="assets\images\demos\demo-17\banners\banner3.jpg"  alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-bottom">
                                        <h4 class="banner-subtitle text-white"><a href="#">Trending now</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">The Focus and Accent <br>On Your Spring Wardrobe</a></h3><!-- End .banner-title -->
                                        <a href="/women" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-7">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="assets/images/demos/demo-17/banners/banner5.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h4 class="banner-subtitle text-white"><a href="#">clearance</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">Clearance It’s On <br>Up To 50% Off</a></h3><!-- End .banner-title -->
                                        <a href="/women" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="assets/images/demos/demo-17/banners/sailing shoes.jpg" alt="Banner">
                                            </a>

                                            <div class="banner-content banner-content-top ">
                                                <h4 class="banner-subtitle text-white"><a href="#">you might love</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">This Week's <br>Most Wanted</a></h3><!-- End .banner-title -->
                                                <a href="/products" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="assets/images/demos/demo-17/banners/sandals1.jpg" alt="Banner">
                                            </a>

                                            <div class="banner-content  banner-content-top banner-content-reverse">
                                                <h4 class="banner-subtitle text-white"><a href="#">The new pretty</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">How To Dress<br>For Spring</a></h3><!-- End .banner-title -->
                                                <a href="/products" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->
                </div><!-- End .container -->

                <div class="icon-boxes-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                            
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>When you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .bg-lighter -->

            <div class="container">
                <h2 class="title text-center">Collection for Mens</h2><!-- End .title -->

                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-new-link" data-toggle="tab" href="#tab-new" role="tab" aria-controls="tab-new" aria-selected="true">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="false">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false">Best Seller</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
                    
                        <div class="row justify-content-center">
                            <% let count = 0%>
                          <%product.forEach(function(product){%>
                            <%if(count < 4 && product.category1 === "Mens"){%>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-4">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="/upload/<%=product.image[0]%>" alt="Product image" class="product-image">
                                            <img src="/upload/<%=product.image[1]%>" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->
                                        <div class="product-action">
                                            <button type="button" class="addtocart btn-product btn-cart"
                                                style="border: none;" data-id="<%=product._id%>" data-price="<%product.price%>">
                                                <a href="/productview?productid=<%=product._id%>">  View Product </a>
                                            </button>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <!-- <div class="product-cat">
                                            <a href="#">Clothing</a>
                                        </div>End .product-cat -->
                                        <h3 class="product-title"><a style="display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 2;
                                             overflow: hidden;"
                                                href="/productview?productid=<%=product._id%>">
                                                <%=product.name%>
                                            </a>
                                        </h3>
                                        <div class="product-price">
                                            ₹ <%=product.price%>
                                        </div><!-- End .product-price -->
                                       
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                         

                        
                          
                            <% count++; %>
                          <%}%>
                            <%})%>
                           
                        </div><!-- End .row -->
                    </div><!-- .End .tab-pane -->

                    

                </div><!-- End .tab-content -->

                <div class="mb-3"></div><!-- End .mb-6 -->
            </div><!-- End .container -->
            <div class="container">
                <h2 class="title text-center">Collection for Mens</h2><!-- End .title -->

                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-new-link" data-toggle="tab" href="#tab-new" role="tab" aria-controls="tab-new" aria-selected="true">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="false">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false">Best Seller</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
                    
                        <div class="row justify-content-center">
                            <% let womencount = 0%>
                          <%product.forEach(function(product){%>
                            <%if(womencount < 4 && product.category1 === "Women"){%>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-4">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="/upload/<%=product.image[0]%>" alt="Product image" class="product-image">
                                            <img src="/upload/<%=product.image[1]%>" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->
                                        <div class="product-action">
                                            <button type="button" class="addtocart btn-product btn-cart"
                                                style="border: none;" data-id="<%=product._id%>" data-price="<%product.price%>">
                                                Add to cart
                                            </button>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <!-- <div class="product-cat">
                                            <a href="#">Clothing</a>
                                        </div>End .product-cat -->
                                        <h3 class="product-title"><a style="display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 2;
                                             overflow: hidden;"
                                                href="/productview?productid=<%=product._id%>">
                                                <%=product.name%>
                                            </a>
                                        </h3>
                                        <div class="product-price">
                                            ₹ <%=product.price%>
                                        </div><!-- End .product-price -->
                                       
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                         

                        
                          
                            <% womencount++; %>
                          <%}%>
                            <%})%>
                           
                        </div><!-- End .row -->
                    </div><!-- .End .tab-pane -->

                    

                </div><!-- End .tab-content -->

                <div class="mb-3"></div><!-- End .mb-6 -->
            </div><!-- End .container -->

            <div class="cta bg-image bg-dark pt-4 pb-5" style="background-image: url(/assets/images/demos/demo-17/bg-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Sign up for email & get 25% off </h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">Subcribe to get information about products and coupons</p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->
                        
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->

           
        </main><!-- End .main -->

        <%-include("../partials/userfooter")-%>